.main{
   
    height:100vh;
    background-color:#54eb54;
    color:white;
}
.container{
    display: flex;
    
}

.container h3{
    font-size: 50px;
    margin-right:200px;
}
.container h4{
margin-top: 35px;
font-size:16px;
font-weight:200;
}
.figure img{
    height:53vh;
    width: 70%;
    display: flex;
  justify-content: center;
  align-items: center;
  border-radius:6px;
}
.figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media all and (max-width:500px) {
    .main{
        background-color: red;
    }
}
.content-wapper{
    background-color:rgb(12,59,46);
    width:50%;
    height:100vh;
    padding-left:10px;
}
menu{
    display:flex;
    color:#ffff;
    
}
.content-wapper .header h1{
    margin-bottom:10px;
    font-size:45px;
}
.content-wapper .header2 h2{
margin-bottom:50px;
font-size:15px;
font-weight: 300;
}
.content-wapper .date{
    font-size:12px;
}
.content-wapper .venue{
    font-size:12px;
}
figure img{
width:100%;
height:100vh;
}

    

.button a{
    text-decoration: none;
    color:white;
}
.button{
   border-radius: 10px;
   background-color: #fcba03;
   width:fit-content;
   padding:6px;
   margin-top: 30px;
}

.button:hover{
    background-color: white;
}
a:hover{
    color:black;
}
@media all and (max-width:500px) {
    .content-wapper{
        background-color: red;
    }
    .content-wapper .header h1{
        margin-bottom:10px;
        font-size:25px;
    }
        .content-wapper .header2 h2{
            margin-bottom:30px;
            font-size:10px;
            font-weight: 300;
            }

            .content-wapper .date{
                font-size:8px;
            }
            .content-wapper .venue{
                font-size:8px;
            }
            .button{
                border-radius: 10px;
                background-color: #fcba03;
                margin-top: 15px;
                width:auto;
             }
             
             .button:hover{
                 background-color: white;
             }
             a:hover{
                 color:black;
             }
}
