.topnav {
    overflow: hidden;
    background-color: rgb(26, 26, 26);
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
body {
    background-color:rgb(52, 50, 50);
    color: #ffffff;
    text-align: center;
}
.coloumn content {
float: right;
width: 31%;
padding: 15px;
text-align:center;
}
@media screen and (max-width:600px) {
    .column content, .column b, .column c {
        width: 50%;
    }
}
@media screen and (max-width:400px) {
    .column content, .column b, .column c {
        width: 100%;
    }
}
.coloumn b{
    float: left;
    width: 31%;
    padding: 15px;
    text-align:center;
}
.clearfix { 
    overflow: auto;
  }
.main {
    text-align:center;
}   
.coloumn {
    float: right;
}
.coloumn c{
    float: right;
     width: 31%;
     padding: 15px;
    text-align:center;
}
.column.middle {
    width: 50%;
  }
  .footer {
    background-color: rgb(26, 26, 26);
    text-align: center;
    padding: 14px 16px;
  }